.container {
  display: flex;
  max-width: 1160px;
  margin: auto;
  justify-content: space-between;
  padding-top: 200px;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: var(--nav_back);
  min-width: 300px;
}

.select {
  display: flex;
  align-items: center;
  border-radius: 12px;
  p {
      text-align: center;
      padding: 8px 16px;
      margin: 4px;
  }
  .main {
    transition: all 1s ease 0s;
    background: var(--accent-color);
    border-radius: 16px;
    order: 0;
  }

  .second {
    border-radius: 16px;
    flex: 2;
    order: 1;
    cursor: pointer;
    &:hover {
      color: var(--accent-color);
    }
  }
}

.bold {
  font-size: 18px;
}

.secondary {
  display: none;
}

.toggler {
  display: none;
}

.visible {
  display: inline-block;
}

.visible-flex {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    border: none;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    border-radius: 16px;
    color: var(--text_third_color);
    font-size: 16px;
    margin-bottom: 16px;
    width: 100%;
  }
  .link {
    color: #c0c0c0;
    margin-bottom: 16px;
    &:hover {
      color: var(--accent-color);
    }
  }
  button {
    padding: 8px 16px;
    background: var(--accent-color);
    border: none;
    border-radius: 16px;
    width: 100%;
    margin-top: 8px;
  }
}

.error {
  width: 100%;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 12px;
  color: #bd1e1e;
  font-size: 18px;
}


@media screen and (max-width: 1160px) {
  .picture {
    display: none;
  }

  .container {
    justify-content: center;
    background: var(--nav_back);
    min-height: 100vh;
  }

  form input {
    margin-bottom: 32px;
  }


  .layout, .center {
    max-width: 400px;
    width: 100%;
  }
}

