<div class="container flex justify-center flex-col">
    
    <div class="prof w-full max-w-sm m-auto bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <img class="mt-4 mb-3 w-24 h-24 rounded-full shadow-lg" src="assets/images/gods.png" alt="Bonnie image">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Kirill</h5>
            <div class="flex flex-col mt-4 md:mt-6 gap-4 items-center justify-center">
                <a class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Сменить аватарку</a>
                <a class="inline-flex w-full items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Сменить пароль</a>
            </div>
        </div>
    </div>

    <h1 class="mb-4 w-full text-center mt-8 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">HEEY, KIRIILL, NICE COCK, BRO!</h1>
</div>