<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: rgb(59, 53, 53);;">
<h1 style="size: 48; align-text: center"> Здесь будет сайт </h1>
<form method="POST" style="margin-left: auto;">
    {% csrf_token %}
    <label> Логин:</label>
    <input type="text" name="login">
    <br>
    <label> Почта: </label>
    <input type="text" name="email">
    <br>
    <label> Пароль: </label>
    <input type="text" name="password">
    <br>
    <input type="submit" name="sub" value="Регистрация" style="color: green; size: 36px; width: 100px; height: 50px; text-align: center;">
</form>
</body>
</html>